.page-container {
  width: 100% !important;  
  height: 100vh !important;
}

.main-page {
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}

.main-container {
  height: calc(100vh - 72px) !important;
}

.page {
  width: 100% !important;
  height: calc(100% - 72px) !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  padding: 24px;
}

.user-mini {
  position: relative;
  height: 24px;
  width: auto;
}

.user-nav {
  position: relative;
  height: 30px;
  width: auto;
}

.avatar {
  border: 2px solid #D65F3D;
}

.link-no-style {
  text-decoration: none !important;
  color: inherit !important;
}

.form-control {
  margin-bottom: 15px;
}

.badge {
  margin: 3px;
  background-color: #D65F3D;
}

.login-center {
  position: absolute;
  background-color: rgb(0,0,0,0.65);
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
}

.form {
  background-color: white;
  width: 22%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.gatorshare-button{
  background-color: #D65F3D;
  outline: none;
  border:none !important;
}
.gatorshare-button:focus, 
.gatorshare-button:active{
  background-color: #D65F3D;
  outline: none !important;
}
.gatorshare-button:hover{
  background-color: #D65F3D;
  outline: none !important;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.selected-card {
  border-color: #D65F3D;
  border-width: 2px;
}

.text-color-accent {
  color: #D65F3D;
}

.dropdown-toggle::after {
  display: none !important; 
}

.bg-light{
  background-color: rgb(170, 175, 179);
}

.settings-logout{
  position: absolute;
  bottom: 0;
  margin-bottom: 250px;
}

.logout-div {
  display: flex;
  justify-content: center;
  align-items: center;
}